.cardContainer {
  display: flex;
  flex-direction: column;
  width: 22.8125rem;
  height: 14.625rem;

  gap: 2.81rem;
}
.cardContainer img {
  width: 4rem;
  height: 4rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .cardContainer {
    flex-direction: row;
    align-items: center;
    width: 100%;

    gap: 2.5rem;
  }
}
