.yourResultsContainer {
  display: flex;
  justify-content: space-between;
  width: 88.61%;

  margin-left: 1.5rem;
  margin-top: 4.06rem;
}

.yourResultsContainer__img {
  width: 53%;

  padding-left: 7.25rem;
}

.resultTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-bottom: 2.5rem;
  width: 37%;
}

.resultTextContainer h2 {
  margin-bottom: 2.19rem;
}

@media (max-width: 1200px) {
  .yourResultsContainer__img {
    padding-left: unset;
  }
}

@media (max-width: 768px) {
  .yourResultsContainer {
    width: 90vw;

    gap: 4.69rem;

    margin: 0 auto;
  }

  .resultTextContainer {
    display: flex;
    align-self: center;
    width: 44%;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-top: unset;
  }

  .resultTextContainer h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 2.2rem */
    letter-spacing: -0.1rem;
  }
}

@media (max-width: 375px) {
  .yourResultsContainer {
    flex-direction: column;
    margin-left: unset;
    margin-right: unset;
    margin-top: 0;
    gap: 3rem;

    width: 100%;
  }

  .yourResultsContainer__img {
    max-width: 100%;
  }

  .resultTextContainer {
    max-width: 87%;
    margin: 0 auto;
    padding: unset;
  }
}
