.yourResultsContainer {
  display: flex;
  justify-content: space-between;
  width: 88.61%;

  margin-left: 1.5rem;
  margin-top: 4.06rem;
  margin-bottom: 6rem;
}

.yourResultsContainer__img {
  width: 53%;

  padding-left: 7.25rem;
}

.resultTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2.19rem;

  padding-bottom: 2.5rem;
  width: 37%;
}

@media (max-width: 1200px) {
  .yourResultsContainer__img {
    padding-left: unset;
  }
}

@media (max-width: 768px) {
  .yourResultsContainer {
    width: 100vw;

    justify-content: space-between;

    margin: unset;
  }

  .yourResultsContainer__img {
    width: 55%;

    margin-left: -5rem;
  }

  .resultTextContainer {
    display: flex;
    align-self: center;
    width: 44%;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-top: unset;
    margin-right: 2.69rem;
    padding-bottom: 0;
  }

  .resultTextContainer h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 2.2rem */
    letter-spacing: -0.1rem;
  }
}

@media (max-width: 600px) {
  .yourResultsContainer {
    flex-direction: column;
    gap: 3rem;

    align-items: center;
  }

  .yourResultsContainer__img {
    width: 90%;
    max-width: 100vw;
    margin: unset;
  }

  .resultTextContainer {
    width: 80vw;

    align-items: center;

    margin: 0 auto;
  }
}

@media (max-width: 375px) {
}
