.heroContainer {
  width: 79.75rem;
  height: 46.0625rem;
  margin-left: 1.5rem;
  margin-right: 8.75rem;
}

.heroTitleContainer {
  display: flex;
  flex-direction: column;
  padding-left: 7.25rem;
  gap: 7.94rem;

  width: 61.125rem;
  height: 46.0625rem;
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0rem 0rem 2.1875rem 2.1875rem;
}

.heroTitleContainer svg {
  width: 4rem;
  height: 4rem;
  margin-top: 4.69rem;
}

.heroContents {
  display: flex;
  width: 35.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.1875rem;
}

.heroContents h1 {
  align-self: stretch;
}

.heroContents p {
  max-width: 29.0625rem;
}

.detailsContainer {
  display: flex;
  width: 35.25rem;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  position: absolute;
  left: 46rem;
  top: 10.38rem;

  border-radius: 1rem;
  background: var(--pure-white);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

.systemContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.unitSystem {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  flex: 1 0 0;
}

.unitSystem input {
  width: 1.9375rem;
  height: 1.9375rem;
  cursor: pointer;
}

.unitSystem input:checked {
  background: rgba(4, 38, 160, 0.85);
}

.unitSystem label {
}
