.container {
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
  background: var(--pure-white);
  position: relative;

  /* background: cornflowerblue; */
}

@media (max-width: 1400px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100vw;
  }
}

@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
