.container {
  max-width: 90rem;
  margin: 0 auto;
  background: var(--pure-white);
  position: relative;
}

@media (max-width: 768px) {
  .container {
    max-width: 48rem;
  }
}

@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
