.tipsContainer {
  width: 87rem;
  height: 25.125rem;
  margin: 0 auto 7.5rem auto;
  padding: 4.5rem 7.31rem 6rem 7.25rem;

  display: flex;
  gap: 2rem;

  border-radius: 2.1875rem;

  background-image: url("../../assets/images/tips-background.svg");
}

@media (max-width: 768px) {
  .tipsContainer {
    max-width: 48rem;
    height: 31.4375rem;

    flex-direction: column;
    padding: 3.75rem 2.69rem 3.75rem 2.44rem;
    gap: 2.5rem;
  }
}

@media (max-width: 375px) {
  .tipsContainer {
    max-width: 100vw;
    padding: unset;
    padding-left: 1.19rem;
    padding-right: 1.81rem;
    padding-top: 35rem;
    margin-bottom: 4.5rem;
  }
}
