.tipsContainer {
  width: 96.67%;
  max-width: 87rem;
  margin: 0 auto;

  position: relative;

  padding-top: 4.5rem;
  padding-bottom: 6rem;

  border-radius: 2.1875rem;
}

.tipsContainerBackground {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 2.1875rem;
  opacity: 0.25;
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
}

.tipsWrapper {
  max-width: 72.4375rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .tipsContainer {
    width: 100vw;

    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .tipsWrapper {
    flex-direction: column;
    align-items: center;

    width: 80%;
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .tipsContainer {
    max-width: 48rem;

    flex-direction: column;

    gap: 2.5rem;
  }

  .tipsWrapper {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .tipsContainer {
    max-width: 100vw;
  }
}
