.limitationsContainer {
  width: 72.5rem;
  height: 44rem;
  margin: 0 auto 7.5rem auto;

  display: flex;
  justify-content: flex-end;

  position: relative;
}

.limitationsTitleContent {
  display: flex;
  width: 35.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.1875rem;

  position: absolute;
  top: 0;
  left: 0;
}

.limitationsCardsWrapper {
  display: flex;
  flex-wrap: wrap;

  width: 60.0625rem;
  height: 44rem;
  flex-shrink: 0;
}
