@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --blue: #345ff6;
  --gun-metal: #253347;
  --dark-electric-blue: #5e6e85;
  --borders: #d8e2e7;
  --pure-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
input {
  margin: 0;
  padding: 0;
}

.heading-xl,
.heading-l,
.heading-m,
.heading-s {
  color: var(--gun-metal);
  line-height: 1.1;
  font-style: normal;
}

.heading-xl {
  font-size: clamp(3rem, 3rem + 1vw, 4rem);
  font-weight: 600;
  letter-spacing: -0.2rem;
}

.heading-l {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.15rem;
}

.heading-m {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.075rem;
}

.heading-s {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0625rem;
}

.body-m,
.body-m-bold,
.body-s {
  color: var(--gun-metal);
  line-height: 1.5;
  font-style: normal;
}

.body-m {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-electric-blue);
}

.body-m-bold {
  font-size: 1rem;
  font-weight: 600;
}

.body-s {
  font-size: 0.875rem;
  font-weight: 400;
}

#gender {
  margin-left: 31.06rem;
  margin-bottom: 2rem;
}

#age {
  margin-left: 12.44rem;
  margin-right: 1.99rem;
  margin-bottom: 1.5rem;
}

#muscle {
  margin-bottom: 1.5rem;
}

#pregnancy {
  margin-right: 2rem;
}

@media (max-width: 768px) {
  #gender,
  #age,
  #muscle,
  #pregnancy {
    margin: unset;
    margin-bottom: 1.5rem;
  }

  #gender,
  #muscle {
    margin-right: 0.94rem;
  }

  #race {
    width: 22.8125rem;
    margin-left: 11.5rem;
  }
}

@media (max-width: 375px) {
  #gender,
  #age,
  #muscle,
  #pregnancy,
  #race {
    margin: unset;
  }

  #race {
    width: unset;
    max-width: 100%;
  }
}
